:root{
    --blue:rgb(102, 206, 233);
    --yellow:rgb(233, 220, 102);
    --blue2:rgba(127, 255, 212, 0.2);
    --blue8:rgba(127, 255, 212, 0.8);
    --dark:rgb(64, 64, 64);
}
*::selection{
background-color: var(--blue2);
/* color: #fff; */
}
.headFont{
    font-size: 24pt;
}
.subHeadFont1{
    font-size: 16pt;
}
h1,h2,p{
    margin:0;
}
html,body{
    height:100vh;
    width:100vw;
    /* background-color: #1a1a1a; */
    font-family: 'Koulen';
    letter-spacing: 1;
}
#preloader{
    display: flex;
    width:100vw;
    height:100vh;
    background-color:rgb(255, 0, 93);

}
/*Navbar styles*/
nav{
    position: sticky !important;
    top:0;
    width:100vw;
    z-index: 2;
    background-color:var(--blue2);
    justify-content: space-between !important;
 
}
.navItem{
    transition: top 0.3s;
}
.navItem:hover{
    color:var(--blue);
}
/*Section 1*/
.sec1{
    width:100vw;
    height: 100vh;
    color:var(--dark); 
}
.heading{
    font-size: 88px;
}
.xtra{
    color:var(--blue);
    font-size: 88px;
}
/*Section 2 */
.card{
    width:320px;
    height:336px;
    border-radius: 8px;  
}
.btn{
    width: 128px;
    border-radius: 2px;
    background-color: aqua;
}
.btn:hover{
    transition: all 0.2s;
    background-color: var(--dark);
    color:aqua;
}
.cardFront{
    transform-style: preserve-3d;
    transform: translateZ(20px);    
    background-color: var(--blue2);
}
.cardFront:hover{
    background-color: #57bdd2;
    transition: all .1s;
    color: #fff;
}

.cardFront:hover{
   cursor:pointer;
}
.logos svg:hover{
    fill:rgb(80, 80, 80);
}
/*Section 3*/

.cardFull{
    width:72vw;
    background-color: rgba(181, 157, 217, 0.2);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);   
}
.pWrapper{

}
.project{
    border-bottom: 1px dashed black;
}
svg:hover{
    fill:rgb(106, 106, 106);
}
.sec6{
    background-color: rgb(143, 116, 169);
}
/*Styling for mobile width below 560px*/
@media (max-width:560px) {
    .heading{
    font-size: 48px ;
    }
    .headFont{
        font-size: 24pt;
    }
    .cardFull{
        width:88vw;
    }
    .xtra{
    font-size: 24pt;
    }
}